*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-weight: 500;
}


.container{
    width: calc(1440px - 200px);
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
header{
    display: flex;
}
header .container{
    display: flex;
}

body{
    background-color: #fff;
}

main{
    width: 100%;
    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("images/wallpaper1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

main .container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    height: inherit;
}






.box{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 15px #999;

    padding: 20px;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}
.box--title,
.box--buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.box--buttons button{
    width: 120px;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    margin: 5px 0px;
}

button a{

    width: 100%;
    padding: 10px;
    border: none;
    
    transition: all 0.05s linear;
    cursor: pointer;
    color: #444;
    display: block;
    background-color: white;
    border: 1px solid #999;

}


button a:hover{
    background-color: orange;
    color: white;
    border: 1px solid transparent;
}





footer{
    height: 200px;
    background-color: #444;
}

footer .container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

footer p{
    color: #999;
    text-align: center;
}