:root {
    --color-primary: #3498db;
    /* Azul - Aplicado em botões e links */
    --color-primary-dark: #2980b9;
    /* Azul Escuro - Aplicado em botões ao passar o mouse */
    --color-secondary: #e74c3c;
    /* Vermelho - Aplicado no botão de logout */
    --color-secondary-dark: #c0392b;
    /* Vermelho Escuro - Aplicado no botão de logout ao passar o mouse */
    --color-background: #ecf0f1;
    /* Cinza Claro - Aplicado ao conteúdo principal */
    --color-background-dark: #34495e;
    /* Azul Escuro - Aplicado ao cabeçalho e cabeçalho da tabela */
    --color-text: #ecf0f1;
    /* Branco - Aplicado no texto */
    --color-sidebar: #2c3e50;
    /* Azul Escuro - Aplicado ao menu lateral */
    --color-section-bg: #ffffff;
    /* Branco - Aplicado nas seções de cadastro e listagem */
    --color-border: #bdc3c7;
    /* Cinza Médio - Aplicado em bordas de inputs e tabelas */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

main.container{
    display: flex;
    width: 100%;
}

main.principal{
    flex: 1;
    margin-left: 330px;
    overflow-y: auto;
    padding: 20px;
}


header {
    width: 100%;
    height: 80px;
    background-color: var(--color-background-dark);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border-radius: 15px;


}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header a {
    color: white;
    font-style: none;
}

aside {
    background-color: var(--color-sidebar);
    height: 100%;
    position: fixed;
    width: 330px;
    transition: all 0.1s linear;
    padding: 30px 20px;
}

aside form {
    width: 100%;
    border-radius: 15px;
    color: white;
    margin-top: 30px;
}

aside form h2 {
    font-weight: 400;
    padding-bottom: 10px;
}

aside form label {
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
}

aside form input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 15px;
}

aside form button {
    padding: 10px;
    width: 120px;
    transition: all 0.05s linear;
    background-color: var(--color-primary);
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

aside form button:hover {
    background-color: var(--color-primary-dark);
}

main table tbody {
    max-height: 80vh;
    overflow-y: scroll;
    margin-left: 330px;
}

main .table--container{
    margin-top: 30px;
}
main table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    
}

main table thead,
main table thead th {
    color: white;
    font-weight: 400;
    padding: 10px;
    text-align: start;
    background-color: var(--color-background-dark);

}

main table a {
    transition: all 0.05s linear;
    background-color: #ccc;
    text-align: center;

    padding: 5px;
    color: black;
}

main table a:hover {
    color: white;
}

main table td {
    text-align: start;
    padding: 10px;
}

main tbody tr {
    transition: all 0.05s;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}


.option {
    display: flex;
    gap: 5px;
}


.logout {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-secondary);
    border: 1px solid transparent;
    transition: all 0.05s linear;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout:hover {
    border: 1px solid white;
}



.top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    border-radius: 50%;
    transition: all 0.05s linear;
}


.top:hover{
    background-color: var(--color-primary-dark);
}



.error{
    background-color: yellow;
    padding: 20px;
    border-radius: 15px;

}